Brainstorming/Basic UI Concepts.png
Brainstorming/Driving ball lightning.docx
Brainstorming/High voltage feedback circuit.docx
/Code/C\#/bin
Brainstorming/~$iving ball lightning.docx
/Code/C\#/HVPSConfigurationGenerator/obj
/Code/C\#/obj
/Code/C\#/output
/Code/C\#/TransformerWindingStaticHeatConduction/bin
/Code/C\#/TransformerWindingStaticHeatConduction/obj
/Code/C++/HVPSController/build
/Code/C++/HVPSController/.vscode
/Code/C++/HVPSController/.devcontainer
/Code/C++/HVPSController/main/cJSON
/Code/C++/HVPSController/main/Generated
/Code/C++/VoltageFeedbackModule/build
/Code/C++/VoltageFeedbackModule/main/Generated
/Controller/VoltageFeedbackModule/main/Generated
/Kicad/HVPSController/HVPSController-backups
/Kicad/junk
/Code/C++/VoltageFeedbackModule/main/cJSON
/Code/C\#/HVPSConfigurationGenerator/bin
/Code/C\#/Meshes/old
/Code/C++/VoltageFeedbackModule/.devcontainer
/Code/C++/VoltageFeedbackModule/.vscode
/Code/junk
Code/~$ntrollerNotes.docx
DataSheets/accelerometer/+.pdf
/Kicad/CurrentVoltageFeedbackModule/CurrentVoltageFeedbackModule-backups
Kicad/CurrentVoltageFeedbackModule/PCB.zip
/Kicad/FlybackJoiner/FlybackJoiner-backups
Kicad/FlybackJoiner/PCB.zip
Kicad/HVPSController/PCB.zip
/Kicad/OutputCompositeResistorSubcircuit2/OutputCompositeResistorSubcircuit2-backups
Kicad/OutputCompositeResistorSubcircuit2/PCB.zip
/Kicad/VillardCascadingVoltageMultiplierSubcircuit/VillardCascadingVoltageMultiplierSubcircuit-backups
/Spreadsheets/junk
/Structure/junk
/Code/C\#/.vs
/Code/C\#/FlybackModelling/bin
/Code/C\#/FlybackModelling/Meshes/old
/Code/JavaScript/client/node_modules
/Code/C\#/HVPSCodeGenerator/bin
/Code/C\#/junk
/Code/C\#/FlybackModelling/obj
/Code/JavaScript/client/public
/Code/C\#/HVPSCodeGenerator/obj
/Code/C\#/HVPS/obj
/Code/C\#/FlybackModelling/output
/Code/C\#/HVPS/.vs
/Code/C\#/Meshes
/Code/C\#/VoltageFeedbackMessages/bin
/Code/C\#/VoltageFeedbackMessages/obj
/Code/C\#/HVPSAPI/bin
/Code/C\#/HVPSAPI/obj
/Code/C\#/HVPSCore/bin
/Code/C\#/HVPSCore/obj
/Code/C\#/HVPSMessages/bin
/Code/C\#/HVPSMessages/obj
/Code/C\#/HVPSUI/bin
/Code/C\#/HVPSUI/obj
/Code/C\#/HVPSUI_Win/.vs
/Code/C\#/HVPSUI_Win/bin
/Code/C\#/HVPSUI_Win/obj
/Code/C\#/HVPSUIAPI/obj
/Code/C\#/HVPSUIMessages/bin
/Code/C\#/HVPSUIMessages/obj
Code/C\#/HVPSUI/HVPSUI.csproj.user
Code/C\#/HVPSUI_Win/HVPSUI_Win.csproj.user
